[http]
	sslverify = true
[https]
[user]
	email = aloxafx@gmail.com
	name = Aloxaf
	signingkey = A07920B86500DE6C
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[help]
	autocorrect = 1
[pull]
	ff = only

[delta]
	features = decorations line-numbers
	syntax-theme = Dracula
[delta "decorations"]
	commit-decoration-style = bold yellow box
	file-style = bold 12 ul
	file-decoration-style = none
[delta "line-numbers"]
	line-numbers-left-format = "{nm:>3}┊"
	line-numbers-right-format = "{np:>3}│ "
