[http]
	sslverify = true
[https]
[user]
	email = aloxafx@gmail.com
	name = Aloxaf
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true
[core]
	pager = delta --theme='Dracula'
[interactive]
	diffFilter = delta --color-only
