[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.config/zplugin/bin"]
	path = zsh/.config/zplugin/bin
	url = https://github.com/zdharma/zplugin.git
