# https://qiita.com/samurai20000@github/items/2e1d779e806a7e8543d6

[Unit]
Description=xkeysnail

[Service]
KillMode=process
ExecStart=xkeysnail -q /home/aloxaf/.config/xkeysnail/config.py
Type=simple
Restart=always

Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
