export LANG=zh_CN.UTF-8
export LC_ALL=zh_CN.UTF-8

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export PATH=/home/aloxaf/.cargo/bin:/home/aloxaf/.gem/ruby/2.5.0/bin:$PATH
